@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: left;
}

img {
  width: 60px;
}


.btn {
  margin-left: 10px;
}

span {
  margin-left: 10px;
}
