@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal */

.moviebox {
  padding-left: 60px;
  padding-right: 60px;
}

body {
  padding-top: 10px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: left;
}

img {
  height: 150px;
  margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
  margin-top: 10px;
}

span.label.label-success {
  margin-right: 10px;
  margin-top: 10px;
}

.fa.fa-star.checked {
  color: orange;
}

.checkbox-inline {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

